// File contains example parameters to adjust and play with to get your pipeline working
// Global default params
params {

    // Workflow flags
    output_dir = './results'

    // Boilerplate options
    help = false
    tracedir = "${params.outdir}/pipeline_info"

    // Cache option makes it easier to set conda cacheDir
    cache = ''
}

// Load other configs for different pipelines
// These could include parameters or other things specific to them
/*

if ( params.fastq || params.fastqgz ){
    includeConfig 'conf/fastq.config'

} else if (params.fasta) {
    includeConfig 'conf/fasta.config'
}

*/

// Set up conda profile along with additional configs
// Additional configs can be used to specify different conda envs for different processes I believe
/*
profiles {
  conda {
     if ( params.fastq || params.fastqgz ) {
       process.conda = "$baseDir/environments/fastq/environment.yml"

     } else if (params.fasta) {
       process.conda = "$baseDir/environments/fasta/environment.yml"
     }
     if (params.cache){
       conda.cacheDir = params.cache
     }
     includeConfig 'conf/conda.config'
  }

  slurm {
    process.executor = 'slurm'
  }

  etc...
}
*/

timeline {
  enabled = false
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = false
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = false
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = false
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  author = 'Your Name'
  description = 'description'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}